</html>
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Inscription</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->   
   <link rel="icon" type="image/png" href="../connexion/images/icons/favicon.ico"/>
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/animate/animate.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/select2/select2.min.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="../connexion/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="../connexion/css/util.css">
   <link rel="stylesheet" type="text/css" href="../connexion/css/main.css">
   <link rel="stylesheet" type="text/css" href="bootstrap.css">
<!--===============================================================================================-->
</head>
<body>
   
   <div class="limiter">
      <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Navbar </font> </font> </a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor02" aria-controls = "navbarColor02" aria-extended = "false" aria-label = "Basculer la navigation ">
          <span class = "navbar-toggler-icon"> </span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarColor02">
          <ul class = "navbar-nav mr-auto">
            <li class = "nav-item active">
              <a class="nav-link" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Accueil </font> </font> <span class = "sr-only"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> (actuel) </font> </font> </ span > </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Caractéristiques </font> </font> </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Tarification </font> </font> </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> À propos </font> </ font > </a>
            </li>
             <li class = "nav-item my-lg-0">
              <a class="nav-link" href="#"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> À propos </font> </ font > </a>
            </li>
          </ul>
          <form class = "form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-success">Connexion</button>
          </form>
        </div>
      </nav>
      <div class="container-login100">
         <div class="wrap-login100 p-t-85 p-b-20">
            {{form_start(form)}}
               <span class="login100-form-title p-b-70">
                  Bienvenue sur Systeme de RDV 
               </span>

               <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                  {{form_widget(form.username,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="Votre Nom"></span>
               </div>

               <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter prenom">
                  {{form_widget(form.lastName,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="Prenom"></span>
               </div>

               <div class="wrap-input100 validate-input m-b-50" data-validate="Enter date de naissance">
                  {{form_widget(form.birthDate,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder=""></span>
               </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter email">
                  {{form_widget(form.Email,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="Email"></span>
               </div>
               <div class="wrap-input100 validate-input m-b-50" data-validate="Enter votre numero de telephone">
                  {{form_widget(form.numberPhone,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="Telephone"></span>
               </div>


               <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                  {{form_widget(form.password,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="Password"></span>
               </div>

               <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password encore une fois">
                  {{form_widget(form.confirm_password,{'attr':{'class':'input100'}})}}
                  <span class="focus-input100" data-placeholder="confirmation du Password"></span>
               </div>

               <div class="container-login100-form-btn">
                  <button class="login100-form-btn" type="submit">
                     Login
                  </button>
               </div>

               <!-- <ul class="login-more p-t-190">
                  <li class="m-b-8">
                     <span class="txt1">
                        Forgot
                     </span>

                     <a href="#" class="txt2">
                        Username / Password?
                     </a>
                  </li>

                  <li>
                     <span class="txt1">
                        Don’t have an account?
                     </span>

                     <a href="#" class="txt2">
                        Sign up
                     </a>
                  </li>
               </ul> -->
            {{form_end(form)}}
         </div>
      </div>
   </div>
   

   <div id="dropDownSelect1"></div>
   
<!--===============================================================================================-->
   <script src="../connexion/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/vendor/bootstrap/js/popper.js"></script>
   <script src="../connexion/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/vendor/daterangepicker/moment.min.js"></script>
   <script src="../connexion/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
   <script src="../connexion/js/main.js"></script>

</body>
</html>