<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestion de Créneaux</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- <link rel='stylesheet' href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css'> -->
        <!-- <link href="../css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <link href="../css/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css" media='print' /> -->
        <link href="../css/home.css" rel="stylesheet" type="text/css" />
       <link rel="stylesheet" href="https://fullcalendar.io/releases/fullcalendar/3.10.0/fullcalendar.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://fullcalendar.io/releases/fullcalendar/3.10.0/lib/jquery.min.js"></script>
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
        <style type="text/css">
        .ui-datepicker-trigger{border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          background: transparent;
            border: none;
            margin: 0!important;
            padding: 0!important;
            height: 30px!important;}
          .ui-datepicker-trigger .input-group-addon:last-child {
            border-left: 1px solid #ccc;
          border-left: 1px solid #ccc;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .fc-basicDay-button{border-radius:0;}
          /*body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
          }*/
          #calendar {
            max-width: 900px;
            margin: 0 auto;
          }
          .hoverEffect {
            font-size: 29px;
            position: absolute;
            margin: 30px 55px;
            cursor: pointer;
        }
        </style>
    </head>
    <body class="skin-black">
        <header class="header">
            <a href="../index.html" class="logo">
                Systeme de rendez-vous
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-bell-o"></i>
                                <span class="label label-success">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Oumaima Sabi <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header bg-light-blue">
                                    <p>
                                        Oumaima Sabi
                                        <small>Administrateur</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-left image">
                        </div>
                        <div class="pull-left info">
                            <p>Bienvenue, Oumaima</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="">
                            <a href="{{path('tableaudebord')}}">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{path('gestion_compte')}}">
                                <i class="fa fa-dashboard"></i> <span>Gestion de Compte</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{path('gestion_admin')}}">
                                <i class="fa fa-dashboard"></i> <span>Gestion d'Administrateur</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('gestion_creneau')}}">
                                <i class="fa fa-dashboard"></i> <span>Gestion de Créneaux</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('rendezvous')}}">
                                <i class="fa fa-dashboard"></i> <span>Gestion de Rendez-vous</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{path('gestion_parametre')}}">
                                <i class="fa fa-dashboard"></i> <span>Paramètrage</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Gestion de Créneaux 
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Gestion de Créneaux</li>
                    </ol>
                </section>

                <section class="content">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">                                
                                <div class="box-body no-padding">
                                    <div class="container">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                  Launch demo modal
                                </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                       <div class="form-group">
                                                            <label for="">Enter Name</label>
                                                            <input type="text" class="form-control" id="title" placeholder="Example input placeholder">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="2">Chose Color</label>
                                                            <input type="color" value="#563d7c" class="form-control" id="color" placeholder="Another input placeholder">
                                                        </div>
                                                       <div class="form-group">
                                                            <label for="">Start Dte</label>
                                                            <input type="text" class="form-control" id="start_date" placeholder="Example input placeholder">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="2">End Date</label>
                                                            <input type="text" class="form-control" id="end_date" placeholder="Another input placeholder">
                                                        </div>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" id="save_changes">Save changes</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>  


                </section>
            </aside>
        </div>
        <script type="text/javascript">$(document).ready(function() {

    //action {soit add soit edit }
 action="";
 // event a editer
 event_object=null;

//pour mettre le modal de bootstrap en premier plan
$("body").children().first().before($(".modal"));

//On save the New Event
$('#save_changes').click(function(){

   $.ajax({
    //les donnees a envoyer vers api
              url:"insert.php",
              type:"Post",
              data:{title:title,start:start,end:end},
              success:function(){
                calendar.fullCalendar('refrechEvents');
                alert("Added Succ")
              }
            })   
    $('#exampleModal').modal('hide')
})

//initialiser le  Callendar
$('#calendar').fullCalendar({
          themeSystem: 'bootstrap4',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay'
          },
          theme: true,
          defaultView: "agendaDay",
          weekNumbers: true,
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          selectable:true,
          selectHelper:true,
           customButtons: {
                myCustomButton: {
                    text: ' ',
                    click: function () {
                        $('#date').DatePicker({
                            flat: true,
                            date: currentDate,
                            current: currentDate,
                            calendars: 2,
                            starts: 1,
                            onChange: function (formated, dates) {
                                $('#calendar').fullCalendar('gotoDate', formated);
                            }
                        });
                    }
                },
                            
            },
          //lors de la selection [date debut, date fin]
          select:function(start,end,allDay){
                                              action='add';
                                              var start=$.fullCalendar.formatDate(start,'Y-MM-DD HH:mm:ss');
                                              var end=$.fullCalendar.formatDate(end,'Y-MM-DD HH:mm:ss');
                                              $('#start_date').val(start)
                                              $('#end_date').val(end)
                                              $('#exampleModal').modal('show')
                                            },
             //lors de l edite [objet evenement]                               
           eventClick: function(event, jsEvent, view) {
                                                        action="edit";
                                                        event_object=event;
                                                        var start=$.fullCalendar.formatDate(event.start,'Y-MM-DD HH:mm:ss');
                                                        var end=$.fullCalendar.formatDate(event.end,'Y-MM-DD HH:mm:ss');
                                                        $('#start_date').val(start)
                                                        $('#end_date').val(end)
                                                        $('#exampleModal').modal('show')
                                                      },
            //api list of evenets ; j'ai pris un exempel d'interenet                                          
          events: {
              url: 'https://fullcalendar.io/demo-events.json?start=2020-05-31&end=2020-07-12&_=1591153583847',
              method: 'POST',
             /* extraParams: {
                custom_param1: 'something',
                custom_param2: 'somethingelse'
              }*/
              }
             });

        $(".fc-center").append('<input type="text" id="datepicker"></input>');
            $(function() {
                $("#datepicker").datepicker({
                    showOn: "both",
                    showOptions: { 
                        direction: "down" 
                    },
                    autoSize: true,
                    buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                    buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    currentText: "Now",
                    firstDay: 1,
                    showOtherMonths: true,
                    selectOtherMonths: true,
              
                    onSelect: function(formated, dates) {
                        $("#calendar").fullCalendar("gotoDate", formated);
                    }
                });

               $("#datepicker").datepicker("option", "dateFormat", "DD, d MM, yy");
               $("#datepicker").datepicker( "setDate" , "+0d" );
            });
                                
        });
        </script>
        
        
        <script src="../js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../js/AdminLTE/app.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script src="https://fullcalendar.io/releases/fullcalendar/3.10.0/fullcalendar.min.js"></script>
        <script src="https://fullcalendar.io/releases/fullcalendar/3.10.0/fullcalendar.print.min.css"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
        <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
        <script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script> --> 
       <!-- <script src="../js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>-->
        <script type="text/javascript">

            
        </script>

    </body>
</html